
.button-area {
				text-align: center;
				margin: 10px;
}

.welcome {
				text-align: center;
				color: darkgreen;
				font-size: 48px;
				margin: 10px;
}

.text-field {
	text-align: center;
	color: darkblue;
	font-size: 36px;
	letter-spacing: 0.5em;
}

.button {
	font-size: 24px;
	margin: 5px;
}
